@(tasks: List[Task], taskForm: Form[String])

@import helper._
@import views.helper.bootstrap2._

@main("Todo list") {

    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    <h4>Add a new task</h4>
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                @form(routes.Application.newTask, 'class -> "form-horizontal") {

                    @inputText(taskForm("label"))

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Create</button>
                        </div>
                    </div>

                }
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h3>@tasks.size task(s)</h3>
        </div>
    </div>

    @if(!tasks.isEmpty) {
        <div class="row-fluid">
            <div class="span6">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @tasks.map { task =>
                        <tr>
                            <td>@task.label</td>
                            <td>
                            @form(routes.Application.deleteTask(task.id)) {
                                <input type="submit" value="Delete">
                            }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }


}