@()

@import helper._
@import views.helper.bootstrap2._

@main("Todo list") {

    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    <h4>Add a new task (AJAX)</h4>
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <form id="addTaskForm" class="form-horizontal">
                        <div class="control-group ">
                            <label class="control-label" for="label">label</label>
                            <div class="controls">
                                <input type="text" value="" name="label" id="label">
                                <span class="help-inline">Required</span>
                                <span id="addTaskError" class="help-block text-error"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                            <input type="submit" class="btn" value="Create" id="addTaskButton"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span12">
            <h3><span id="numberOfTasks">0</span> task(s) (AJAX)</h3>
        </div>
    </div>

    <div class="row-fluid" id="tasksBlock">
        <div class="span6">
            <table class="table table-condensed" id="tasksTable">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

}